<div class="dashboard-container">
  <h1>Dashboard</h1>
  <div class="table-container">
    <h2>Account history</h2>
    <table>
      <thead>
        <tr>
          <th>Amount</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        @for (income of accountHistory(); track $index) {
          <tr>
            <td>{{ income.description }}</td>
            <td [class]="`type-${income.status}`">{{ income.amount | number: '0.2-2' }} {{ income.currency }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
