<h1 class="login-title">Sign in</h1>
<form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="login-form" aria-label="Sign In Form">
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      id="email"
      type="email"
      formControlName="email"
      placeholder="Enter your email"
      required
      aria-required="true"
      autocomplete="off"
    />
    @let email = signInForm.controls.email;
    <app-form-control-errors [control]="email" />
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="Enter your password"
      required
      aria-required="true"
      autocomplete="off"
    />

    @let password = signInForm.controls.password;
    <app-form-control-errors [control]="password" />
  </div>
  <button type="submit" class="btn-submit">Sign In</button>
</form>
<p class="signup-link">Don't have an account? <a [routerLink]="['/', 'auth', 'sign-up']">Sign up here</a>.</p>
